{
    "cluster_key": "cluster-edge",
    "zone_key": "{{ global.zone_key }}",
    "name": "edge",
    "instances": [
      {
          "host": "localhost",
          "port": 10808
      }
    ],
    "circuit_breakers": null,
    "outlier_detection": null,
    "health_checks": []
}