{
  "shared_rules_key": "catalog-data-internal-shared-rules",
  "name": "data-internal",
  "zone_key": "zone-default-zone",
  "default": {
    "light": [
      {
        "constraint_key": "",
        "cluster_key": "catalog-to-data-internal-cluster",
        "metadata": null,
        "properties": null,
        "response_data": {},
        "weight": 1
      }
    ],
    "dark": null,
    "tap": null
  },
  "rules": null,
  "response_data": {},
  "cohort_seed": null,
  "properties": null,
  "retry_policy": null
}