{
  "zone_key": "{{ global.zone_key }}",
  "proxy_key": "edge-proxy",
  "domain_keys": ["edge", "edge-egress"],
  "listener_keys": ["edge-listener", "edge-listener-egress"],
  "name": "edge",
  "listeners": null,
  "active_proxy_filters": [],
  "proxy_filters": {}
}