{
  "route_key": "route-edge-jwt",
  "domain_key": "edge-egress",
  "zone_key": "{{ global.zone_key }}",
  "path": "/jwt/",
  "prefix_rewrite": "/",
  "redirects": null,
  "shared_rules_key": "edge-internal-jwt-security-shared-rules",
  "rules": null,
  "response_data": {},
  "cohort_seed": null,
  "retry_policy": null
}