{
  "route_key": "data-jwt-route-slash",
  {% if global.spire.enabled is sameas true %}
  "domain_key": "domain-data-egress",
  {% else %}
  "domain_key": "domain-data",
  {% endif %}
  "zone_key": "{{ global.zone_key }}",
  "path": "{{ values.data.jwt_prefix }}",
  "prefix_rewrite": "{{ values.data.jwt_prefix }}/",
  "redirects": null,
  {% if global.spire.enabled is sameas true %}
  "shared_rules_key": "data-jwt-shared-rules",
  {% else %}
  "shared_rules_key": "edge-jwt-security-shared-rules",
  {% endif %}
  "rules": null,
  "response_data": {},
  "cohort_seed": null,
  "retry_policy": null
}