# {{ ansible_managed }}

GM_CONTROL_CONSOLE_LEVEL=info
GM_CONTROL_API_KEY=xxxx
GM_CONTROL_API_ZONE_NAME={{ GM_CONTROL_API_ZONE_NAME | default('zone-default-zone') }}
GM_CONTROL_API_SSL=False
GM_CONTROL_API_HOST={{ GM_CONTROL_API_HOST }}:5555
GM_CONTROL_CMD={{ GM_CONTROL_CMD | default('aws') }}
GM_CONTROL_FILE_FORMAT=yaml
GM_CONTROL_FILE_FILENAME=/app/routes.yaml
GM_CONTROL_XDS_RESOLVE_DNS=True
GM_CONTROL_AWS_AWS_ACCESS_KEY_ID={{ GM_CONTROL_AWS_AWS_ACCESS_KEY_ID }}
GM_CONTROL_AWS_AWS_SECRET_ACCESS_KEY={{ GM_CONTROL_AWS_AWS_SECRET_ACCESS_KEY }}
GM_CONTROL_AWS_AWS_REGION={{ GM_CONTROL_AWS_AWS_REGION }}
GM_CONTROL_AWS_VPC_ID={{ GM_CONTROL_AWS_VPC_ID }}