# {{ ansible_managed }}

POLICY_CACHE_LIFETIME=10
LISTING_DEBUG=true
DELETE_EXPIRED=true
DELETE_EXPIRED_POLL_SECONDS=600
CRASH_ON_ERROR=false
GMDATA_FABRIC_CLUSTER=false
GMDATA_NAMESPACE=world
GMDATA_NAMESPACE_USERFIELD=email
GMDATA_USE_TLS=false
GMDATA_TRUST=
GMDATA_CERT=
GMDATA_KEY=
CLIENT_PREFIX=/services/data/latest
CLIENT_JWT_PREFIX=/
CLIENT_JWT_PREFIX_CERT=
CLIENT_JWT_PREFIX_KEY=
CLIENT_JWT_PREFIX_TRUST= 
JWT_PUB={{ JWT_PUB_KEY_VALUE }}
JWT_API_KEY=dm9sY2Fuby1lcGlkZW1pYy10d2VsZnRoLXRhbWFsZQ==
CLIENT_JWT_ENDPOINT_ADDRESS=localhost
CLIENT_JWT_ENDPOINT_PORT=8080
CLIENT_JWT_ENDPOINT_CERT={{ CERT_VALUE }}
CLIENT_JWT_ENDPOINT_KEY={{ KEY_VALUE }}
CLIENT_JWT_ENDOPINT_TRUST={{ TRUST_VALUE }}
CLIENT_JWT_ENDPOINT_PREFIX=/services/jwt-server/1.0
GMDATAX_SESSION_MAX=1000
S3_TASKS=4096
LESS_CHATTY_INFO=
GMDATAX_CATCH_PANIC=true
DISABLE_LOOKUPS=
DONT_PANIC=
KAFKA_PEERS=
KAFKA_TOPIC_UPDATE=gmdatax-update
KAFKA_TOPIC_READ=gmdatax-read
KAFKA_TOPIC_ERROR=gmdatax-error
KAFKA_CONSUMER_GROUP=
MASTERKEY=ac8923[lkn43589vi23kl4rfgv0ws
USES3=false
AWS_REGION=
FILE_BUCKET=
FILE_PARTITION=
AWS_S3_ENDPOINT=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
HTTP_CACHE_SECONDS=
MONGOHOST=localhost:27017
MONGODB=gmdata
MONGO_USE_TLS={{ MONGO_USE_TLS_VALUE }}
MONGO_CERT={{ CERT_VALUE if (MONGO_USE_TLS_VALUE=='true') else ''}}
MONGO_KEY={{ KEY_VALUE if (MONGO_USE_TLS_VALUE=='true') else ''}}
MONGO_TRUST={{ TRUST_VALUE if (MONGO_USE_TLS_VALUE=='true') else ''}}
MONGO_CN=localhost
MONGO_INITDB_ROOT_USERNAME=gmdata
MONGO_INITDB_ROOT_PASSWORD=gmdata
BIND_ADDRESS=0.0.0.0
BIND_PORT=8080
PRETTY_PRINT=
ZEROLOG_LEVEL=debug
REKOGNITION_FACE_INDEX=
GMDATA_PPROF_BIND=0.0.0.0:6060