{
  "cluster_key": "cluster-{{ serviceName }}",
  "zone_key": "{{ zone_key }}",
  "name": "{{ serviceName }}",
  "instances": [],
  "require_tls": {{ cluster_require_tls }},
  {% if domain_ssl_config_status=='on' %}
  "ssl_config": {
    "require_client_certs": "{{ ssl_require_client_certs }}",
    "protocols": ["SSLv3", "SSLv2", "TLSv1", "TLSv1.1", "TLSv1.2"],
    "trust_file": "{{ ssl_config_trust_file }}",
    "cert_key_pairs": [
      {
        "certificate_path": "{{ ssl_config_certificate_path }}",
        "key_path": "{{ ssl_config_key_path }}"
      }
    ]
  },
  {% endif %}
  "circuit_breakers": null,
  "outlier_detection": null,
  "health_checks": []
}