{
  "route_key": "edge-{{ serviceName }}-route",
  "domain_key": "edge",
  "zone_key": "{{ zone_key }}",
  "path": "/services/{{ serviceName }}/latest/",
  "prefix_rewrite": "/",
  "redirects": null,
  "shared_rules_key": "edge-{{ serviceName }}-shared-rules",
  "rules": null,
  "response_data": {},
  "cohort_seed": null,
  "retry_policy": null
}