{
  "listener_key": "listener-{{ serviceName }}",
  "zone_key": "{{ zone_key }}",
  "name": "{{ serviceName }}",
  "ip": "{{ listener_ip }}",
  "port": {{ listener_port }},
  "protocol": "http_auto",
  "domain_keys": ["domain-{{ serviceName }}"],
  "tracing_config": null
}