{
  "proxy_key": "proxy-{{ serviceName }}",
  "zone_key": "{{ zone_key }}",
  "name": "{{ serviceName }}",
  "domain_keys": ["domain-{{ serviceName }}"],
  "listener_keys": ["listener-{{ serviceName }}"],
  {% if proxy_active_proxy_filters_status=='on' %}
  "active_proxy_filters": ["gm.metrics"],
  "proxy_filters": {
    "gm_metrics": {
      "metrics_port": 8081,
      "metrics_host": "0.0.0.0",
      "metrics_dashboard_uri_path": "/metrics",
      "metrics_prometheus_uri_path": "/prometheus",
      "prometheus_system_metrics_interval_seconds": 15,
      "metrics_ring_buffer_size": 4096,
      "metrics_key_function": "depth",
      "metrics_key_depth": "1"
    }
  },
  else
  "active_proxy_filters": [],
  {% endif %}
  "listeners": null
}