{
  "route_key": "route-{{ serviceName }}",
  "domain_key": "domain-{{ serviceName }}",
  "zone_key": "{{ zone_key }}",
  "path": "/",
  "prefix_rewrite": "/",
  "redirects": null,
  "shared_rules_key": "shared-rules-{{ serviceName }}",
  "rules": null,
  "response_data": {},
  "cohort_seed": null,
  "retry_policy": null
}