{
  "domain_key": "domain-{{ global.service_name }}",
  "zone_key": "{{ global.zone_key }}",
  "name": "*",
  "port": {{ domain.port }},
  "redirects": null,
  "gzip_enabled": false,
  "cors_config": null,
  "aliases": null,
  {% if global.secret.enabled is sameas true %}
  "ssl_config": {
    "require_client_certs": true,
    "trust_file": "{{ global.secret.ssl_config_trust_file }}",
    "cert_key_pairs": [
      {
        "certificate_path": "{{ global.secret.ssl_config_certificate_path }}",
        "key_path": "{{ global.secret.ssl_config_key_path }}"
      }
    ]
  },
  {% endif %}
  "force_https": true
}