{
  "route_key": "route-{{ global.service_name }}",
  "domain_key": "domain-{{ global.service_name }}",
  "zone_key": "{{ global.zone_key }}",
  "path": "/",
  "prefix_rewrite": null,
  "redirects": null,
  "shared_rules_key": "shared-rules-{{ global.service_name }}",
  "rules": null,
  "response_data": {},
  "cohort_seed": null,
  "retry_policy": null
}