{
  "zone_key": "{{ global.zone_key }}",
  "shared_rules_key": "edge-{{ global.service_name }}-shared-rules",
  "name": "{{ global.service_name }}",
  "default": {
    "light": [
      {
        "constraint_key": "",
        "cluster_key": "edge-to-{{ global.service_name }}-cluster",
        "metadata": null,
        "properties": null,
        "response_data": {},
        "weight": 1
      }
    ],
    "dark": null,
    "tap": null
  },
  "rules": null,
  "response_data": {},
  "cohort_seed": null,
  "properties": null,
  "retry_policy": null
}