---

  - name: Create task definition control-api
    ecs_taskdefinition:
      state: present
      family: "greymatter-control-api"
      network_mode: awsvpc
      launch_type: FARGATE
      cpu: 512
      memory: 1024
      region: "{{ aws_region }}"
      execution_role_arn: "{{ ecs_instance_role }}"
      task_role_arn: "{{ ecs_instance_role }}"
      volumes:
      - name: certs
      containers:
      - name: "proxy-control-api"
        essential: false
        image: "{{ greymatter_proxy_image }}"
        repositoryCredentials:
          credentialsParameter: "{{ credentials_parameter }}"
        dockerLabels:
          gm-cluster: "sidecar-control-api"
        environment:
        - name: "ENVOY_ADMIN_LOG_PATH"
          value: "/dev/stdout"
        - name: "PROXY_DYNAMIC"
          value: "true"
        - name: "XDS_CLUSTER"
          value: "control-api"
        - name: "XDS_HOST"
          value: localhost # todo point to gm-control
        - name: "XDS_PORT"
          value: 50000
        - name: "XDS_NODE_ID"
          value: "default-node"
        portMappings:
        - containerPort: 9080
          hostPort: 9080
          protocol: tcp
        - containerPort: 8081
          hostPort: 8081
          protocol: tcp
        mountPoints:
        - containerPath: "/etc/proxy/tls/sidecar"
          sourceVolume: certs
        logConfiguration:
          logDriver: awslogs
          options:
            awslogs-group: openjobs
            awslogs-region: "{{ aws_region }}"
            awslogs-stream-prefix: web
      - name: control-api
        essential: false
        image: "docker.production.deciphernow.com/deciphernow/gm-control-api:0.8.1"
        repositoryCredentials:
          credentialsParameter: "{{ credentials_parameter }}"
        dockerLabels:
          gm-cluster: "service-control-api"
        environment:
        - name: "GM_CONTROL_API_ADDRESS"
          value: "0.0.0.0:5555"
        - name: "GM_CONTROL_API_LOG_LEVEL"
          value: debug
        - name: "GM_CONTROL_API_ORG_KEY"
          value: deciphernow
        - name: "GM_CONTROL_API_PERSISTER_PATH"
          value: "app/control-api/data/backend.json"
        - name: "GM_CONTROL_CMD"
          value: ecs
        - name: "GM_CONTROL_API_PERSISTER_TYPE"
          value: file
        - name: "GM_CONTROL_API_ZONE_KEY"
          value: "default-zone"
        portMappings:
        - containerPort: 5555
          hostPort: 5555
          protocol: tcp
        logConfiguration:
          logDriver: awslogs
          options:
            awslogs-group: openjobs
            awslogs-region: "{{ aws_region }}"
            awslogs-stream-prefix: web
    register: task_output

  - name: ECS service control-api
    ecs_service:
      state: present
      name: control-api
      cluster: "{{ cluster_name }}"
      region: "{{ aws_region }}"
      launch_type: FARGATE
      task_definition: "{{  task_output.taskdefinition[\"family\"]   }}:{{ task_output.taskdefinition[\"revision\"] }}"
      desired_count: 1
      network_configuration:
        security_groups: "{{ security_group }}"
        subnets: "{{ subnet_list }}"
      load_balancers:
        - targetGroupArn: "{{ task_target_group }}"
          containerName: "proxy-control-api"
          containerPort: 9080
    register: "ecs_service"
