---

  - name: Create task definition catalog
    ecs_taskdefinition:
      state: present
      family: "greymatter-catalog"
      network_mode: awsvpc
      launch_type: FARGATE
      cpu: 512
      memory: 1024
      region: "{{ aws_region }}"
      execution_role_arn: "{{ ecs_instance_role }}"
      task_role_arn: "{{ ecs_instance_role }}"
      volumes:
      - name: certs
      containers:
      - name: "proxy-catalog"
        essential: false
        image: "{{ greymatter_proxy_image }}"
        repositoryCredentials:
          credentialsParameter: "{{ credentials_parameter }}"
        dockerLabels:
          gm-cluster: "sidecar-catalog"
        environment:
        - name: "ENVOY_ADMIN_LOG_PATH"
          value: "/dev/stdout"
        - name: "PROXY_DYNAMIC"
          value: "true"
        - name: "XDS_CLUSTER"
          value: catalog
        - name: "XDS_HOST"
          value: localhost # todo point to gm-control
        - name: "XDS_PORT"
          value: 50000
        - name: "XDS_NODE_ID"
          value: "default-node"
        portMappings:
        - containerPort: 9080
          hostPort: 9080
          protocol: tcp
        - containerPort: 8081
          hostPort: 8081
          protocol: tcp
        mountPoints:
        - containerPath: "/etc/proxy/tls/sidecar"
          sourceVolume: certs
        logConfiguration:
          logDriver: awslogs
          options:
            awslogs-group: openjobs
            awslogs-region: "{{ aws_region }}"
            awslogs-stream-prefix: web
      - name: catalog
        essential: false
        image: "docker.production.deciphernow.com/deciphernow/gm-catalog:1.0.1"
        repositoryCredentials:
          credentialsParameter: "{{ credentials_parameter }}"
        dockerLabels:
          gm-cluster: "service-catalog"
        environment:
        - name: "DEBUG"
          value: "true"
        - name: "CONTROL_SERVER_0_ADDRESS"
          value: "localhost:50000"
        - name: "CONTROL_SERVER_0_REQUEST_CLUSTER_NAME"
          value: edge
        - name: "CONTROL_SERVER_0_ZONE_NAME"
          value: "default-zone"
        - name: "CONFIG_SOURCE"
          value: gmdata
        - name: "CLIENT_ADDRESS"
          value: localhost
        - name: "CLIENT_PORT"
          value: 9080
        - name: "CLIENT_PREFIX"
          value: "/data"
        - name: "GMDATA_STARTUP_DELAY"
          value: 10s
        - name: "GMDATA_MAX_RETRIES"
          value: 100
        - name: "GMDATA_RETRY_DELAY"
          value: 5s
        - name: "GMDATA_ROOT_EVENT_NAME"
          value: world
        - name: "CLIENT_USE_TLS"
          value: "false"
        - name: "CLIENT_IDENTITY"
          value: "CN=localhost,OU=Engineering,O=Decipher Technology Studios,=Alexandria,=Virginia,C=US"
        - name: "CLIENT_EMAIL"
          value: "localhost@deciphernow.com"
        portMappings:
        - containerPort: 8080
          hostPort: 8080
          protocol: tcp
        logConfiguration:
          logDriver: awslogs
          options:
            awslogs-group: openjobs
            awslogs-region: "{{ aws_region }}"
            awslogs-stream-prefix: web
    register: task_output

  - name: ECS service catalog
    ecs_service:
      state: present
      name: catalog
      cluster: "{{ cluster_name }}"
      region: "{{ aws_region }}"
      launch_type: FARGATE
      task_definition: "{{  task_output.taskdefinition[\"family\"]   }}:{{ task_output.taskdefinition[\"revision\"] }}"
      desired_count: 1
      network_configuration:
        security_groups: "{{ security_group }}"
        subnets: "{{ subnet_list }}"
      load_balancers:
        - targetGroupArn: "{{ task_target_group }}"
          containerName: "proxy-catalog"
          containerPort: 9080
    register: "ecs_service"
