---

  - name: Create task definition control
    ecs_taskdefinition:
      state: present
      family: "greymatter-control"
      network_mode: awsvpc
      launch_type: FARGATE
      cpu: 512
      memory: 1024
      region: "us-east-1"
      execution_role_arn: "arn:aws:iam::706634194319:role/ecsInstanceRole"
      task_role_arn: "arn:aws:iam::706634194319:role/ecsInstanceRole"
      containers:
      - name: control
        essential: true
        image: "docker-greymatter.di2e.net/greymatter/gm-control:0.5.1"
        repositoryCredentials:
          credentialsParameter: "arn:aws:secretsmanager:us-east-1:706634194319:secret:ecs-greymatter-ci-emFEzR"
        environment:
        - name: "GM_CONTROL_API_HOST"
          value: "localhost:5555"
        - name: "GM_CONTROL_API_KEY"
          value: xxx
        - name: "GM_CONTROL_API_SSL"
          value: false
        - name: "GM_CONTROL_API_ZONE_NAME"
          value: "default-zone"
        - name: "GM_CONTROL_CMD"
          value: ecs
        - name: "GM_CONTROL_CONSOLE_LEVEL"
          value: debug
        - name: "GM_CONTROL_XDS_ADS_ENABLED"
          value: true
        - name: "GM_CONTROL_ECS_AWS_REGION"
          value: "us-east-1"
        - name: "GM_CONTROL_ECS_CLUSTER_TAG"
          value: "gm-cluster"
        portMappings:
        - containerPort: 50000
          hostPort: 50000
          protocol: tcp
        logConfiguration:
          logDriver: awslogs
          options:
            awslogs-group: openjobs
            awslogs-region: us-east-2
            awslogs-stream-prefix: web
    register: task_output

  - name: ECS service
    ecs_service:
      state: present
      name: control
      cluster: "greymatter-ecs-cluster"
      region: "us-east-1"
      launch_type: FARGATE
      task_definition: "{{  task_output.taskdefinition[\"family\"]   }}:{{ task_output.taskdefinition[\"revision\"] }}"
      desired_count: 1
      network_configuration:
        assign_public_ip: true
        security_groups:
        - "sg-058ff37fcba82d64e"
        subnets:
        - "subnet-0e06fb4f956d9f5f8"
        - "subnet-0a0d8c7178470ccfd"
        - "subnet-04b7db2914fabe8e3"
      load_balancers:
        - targetGroupArn: "arn:aws:elasticloadbalancing:us-east-1:706634194319:targetgroup/greymatter-ecs-alb-tg-ip/826faf9b835b9140"
          containerName: control
          containerPort: 50000
    register: "ecs_service"
