---

  - name: Create task definition catalog
    ecs_taskdefinition:
      state: present
      family: "greymatter-catalog"
      network_mode: awsvpc
      launch_type: FARGATE
      cpu: 512
      memory: 1024
      region: "us-east-1"
      execution_role_arn: "arn:aws:iam::706634194319:role/ecsInstanceRole"
      task_role_arn: "arn:aws:iam::706634194319:role/ecsInstanceRole"
      volumes:
      - name: certs
      containers:
      - name: "proxy-catalog"
        essential: true
        image: "docker-greymatter.di2e.net/greymatter/gm-proxy:0.8.1"
        repositoryCredentials:
          credentialsParameter: "arn:aws:secretsmanager:us-east-1:706634194319:secret:ecs-greymatter-ci-emFEzR"
        dockerLabels:
          gm-cluster: "sidecar-catalog"
        environment:
        - name: "ENVOY_ADMIN_LOG_PATH"
          value: "/dev/stdout"
        - name: "PROXY_DYNAMIC"
          value: true
        - name: "XDS_CLUSTER"
          value: catalog
        - name: "XDS_HOST"
          value: localhost # todo point to gm-control
        - name: "XDS_PORT"
          value: 50000
        - name: "XDS_NODE_ID"
          value: "default-node"
        portMappings:
        - containerPort: 9080
          hostPort: 9080
          protocol: tcp
        - containerPort: 8081
          hostPort: 8081
          protocol: tcp
        mountPoints:
        - containerPath: "/etc/proxy/tls/sidecar"
          sourceVolume: certs
        logConfiguration:
          logDriver: awslogs
          options:
            awslogs-group: openjobs
            awslogs-region: "us-east-1"
            awslogs-stream-prefix: web
      - name: catalog
        essential: true
        image: "docker-greymatter.di2e.net/greymatter/gm-catalog:1.0.1"
        repositoryCredentials:
          credentialsParameter: "arn:aws:secretsmanager:us-east-1:151736245382:secret:ecs-greymatter/zGREYMATTER-ci-6WOFGP"
        dockerLabels:
          gm-cluster: "service-catalog"
        environment:
        - name: "DEBUG"
          value: true
        - name: "CONTROL_SERVER_0_ADDRESS"
          value: "localhost:50000"
        - name: "CONTROL_SERVER_0_REQUEST_CLUSTER_NAME"
          value: edge
        - name: "CONTROL_SERVER_0_ZONE_NAME"
          value: "default-zone"
        - name: "CONFIG_SOURCE"
          value: gmdata
        - name: "CLIENT_ADDRESS"
          value: localhost
        - name: "CLIENT_PORT"
          value: 9080
        - name: "CLIENT_PREFIX"
          value: "/data"
        - name: "GMDATA_STARTUP_DELAY"
          value: 10s
        - name: "GMDATA_MAX_RETRIES"
          value: 100
        - name: "GMDATA_RETRY_DELAY"
          value: 5s
        - name: "GMDATA_ROOT_EVENT_NAME"
          value: world
        - name: "CLIENT_USE_TLS"
          value: false
        - name: "CLIENT_IDENTITY"
          value: "CN=localhost,OU=Engineering,O=Decipher Technology Studios,=Alexandria,=Virginia,C=US"
        - name: "CLIENT_EMAIL"
          value: "localhost@deciphernow.com"
        portMappings:
        - containerPort: 8080
          hostPort: 8080
          protocol: tcp
        logConfiguration:
          logDriver: awslogs
          options:
            awslogs-group: openjobs
            awslogs-region: "us-east-1"
            awslogs-stream-prefix: web
    register: task_output

  - name: ECS service
    ecs_service:
      state: present
      name: catalog
      cluster: "greymatter-ecs-cluster"
      region: "us-east-1"
      launch_type: FARGATE
      task_definition: "{{  task_output.taskdefinition[\"family\"]   }}:{{ task_output.taskdefinition[\"revision\"] }}"
      desired_count: 1
      network_configuration:
        assign_public_ip: true
        security_groups:
        - "sg-058ff37fcba82d64e"
        subnets:
        - "subnet-0e06fb4f956d9f5f8"
        - "subnet-0a0d8c7178470ccfd"
        - "subnet-04b7db2914fabe8e3"
      load_balancers:
        - targetGroupArn: "arn:aws:elasticloadbalancing:us-east-1:706634194319:targetgroup/greymatter-ecs-alb-tg-ip/826faf9b835b9140"
          containerName: "proxy-catalog"
          containerPort: 9080
    register: "ecs_service"
