---

  - name: Create task definition catalog
    ecs_taskdefinition:
      state: present
      family: "greymatter-catalog"
      network_mode: "host"
      launch_type: "EC2"
      execution_role_arn: "arn:aws:iam::151736245382:role/ecsInstanceRole"
      task_role_arn: "arn:aws:iam::151736245382:role/ecsInstanceRole"
      volumes:
        - name: certs
          host:
            sourcePath: "/home/ec2-user/pki"
      containers:
        - name: proxy-catalog
          cpu: 256
          essential: true
          image: "docker-greymatter.di2e.net/greymatter/gm-proxy:0.8.1"
          repositoryCredentials:
            credentialsParameter: "arn:aws:secretsmanager:us-east-2:151736245382:secret:ecs-greymatter/zGREYMATTER-ci-6WOFGP"
          memory: 400
          dockerLabels:
            gm-cluster: "sidecar-catalog"
          environment:
            - name: "ENVOY_ADMIN_LOG_PATH"
              value: "/dev/stdout"
            - name: "PROXY_DYNAMIC"
              value: "true"
            - name: "XDS_CLUSTER"
              value: "catalog"
            - name: "XDS_HOST"
              value: "localhost"
            - name: "XDS_NODE_ID"
              value: "default"
            - name: "XDS_PORT"
              value: "50000"
          portMappings:
            - containerPort: 9080
              hostPort: 9080
              protocol: tcp
            - containerPort: 8081
              hostPort: 8081
              protocol: tcp
          mountPoints:
            - containerPath: "/etc/proxy/tls/sidecar"
              sourceVolume: "certs"
          logConfiguration:
            logDriver: awslogs
            options:
              awslogs-group: openjobs
              awslogs-region: us-east-2
              awslogs-stream-prefix: web
        - name: catalog
          cpu: 256
          essential: true
          image: "docker-greymatter.di2e.net/greymatter/gm-catalog:1.0.1"
          repositoryCredentials:
            credentialsParameter: "arn:aws:secretsmanager:us-east-2:151736245382:secret:ecs-greymatter/zGREYMATTER-ci-6WOFGP"
          memory: 400
          dockerLabels:
            gm-cluster: "service-catalog"
          environment:
            - name: "DEBUG"
              value: "true"
            - name: "CONTROL_SERVER_0_ADDRESS"
              value: 'localhost:50000'
            - name: "CONTROL_SERVER_0_REQUEST_CLUSTER_NAME"
              value: "edge"
            - name: "CONTROL_SERVER_0_ZONE_NAME"
              value: "default-zone"
            - name: "CONFIG_SOURCE"
              value: "env" # or gmdata

            # These configs are only used if CONFIG_SOURCE=gmdata
            # The address:port should send requests to gm-data through the mesh
            # - name: "CLIENT_ADDRESS"
            #   value: "localhost"
            # - name: "CLIENT_PORT"
            #   value: "9080"
            # - name: "CLIENT_PREFIX"
            #   value: "/data"
            # - name: "GMDATA_STARTUP_DELAY"
            #   value: "10s"
            # - name: "GMDATA_MAX_RETRIES"
            #   value: "100"
            # - name: "GMDATA_RETRY_DELAY"
            #   value: "5s"
            # - name: "GMDATA_ROOT_EVENT_NAME"
            #   value: "world"
            # - name: "CLIENT_USE_TLS"
            #   value: "false"
            # - name: "CLIENT_IDENTITY"
            #   value: >-
            #     CN=gm-control,OU=Engineering,O=Decipher Technology Studios,=Alexandria,=Virginia,C=US
            # - name: "CLIENT_EMAIL"
            #   value: "gm-control@deciphernow.com"

            # In the new mesh, certs are configured via sidecar
            # - name: "USE_TLS"
            #   value: "true"
            # - name: "CA_CERT_PATH"
            #   value: "/etc/pki/certifiable_ca.crt"
            # - name: "SERVER_CERT_PATH"
            #   value: "/etc/pki/cert.pem"
            # - name: "SERVER_KEY_PATH"
            #   value: "/etc/pki/private_key.pem"
          portMappings:
            - containerPort: 8080
              hostPort: 8080
              protocol: tcp
          mountPoints:
            - containerPath: "/etc/pki"
              sourceVolume: "certs"
          logConfiguration:
            logDriver: awslogs
            options:
              awslogs-group: openjobs
              awslogs-region: us-east-2
              awslogs-stream-prefix: web
    register: task_output

  - name: ECS service
    ecs_service:
      state: present
      name: catalog
      cluster: "greymatter-ecs-cluster"
        task_definition: "{{  task_output.taskdefinition[\"family\"]   }}:{{ task_output.taskdefinition[\"revision\"] }}"
      desired_count: 1
      # todo: load balance service/sidecar pairs -- each instance is a sidecar->service
      load_balancers:
        - targetGroupArn: "arn:aws:elasticloadbalancing:us-east-2:151736245382:targetgroup/greymatter-ecs-alb-target-group2/6a3fddf3a004d6fe"
          containerName: "proxy-catalog"
          containerPort: "9080"
    register: "ecs_service"
