---

  - name: Create task definition control
    ecs_taskdefinition:
      state: present
      family: "greymatter-control"
      network_mode: "host"
      launch_type: "EC2"
      execution_role_arn: "arn:aws:iam::151736245382:role/ecsInstanceRole"
      task_role_arn: "arn:aws:iam::151736245382:role/ecsInstanceRole"
      containers:
      - name: control
        cpu: 256
        essential: true
        image: "docker-greymatter.di2e.net/greymatter/gm-control:0.5.1"
        repositoryCredentials:
          credentialsParameter: "arn:aws:secretsmanager:us-east-2:151736245382:secret:ecs-greymatter/zGREYMATTER-ci-6WOFGP"
        memory: 400
        environment:
        - name: "GM_CONTROL_API_HOST"
          value: "localhost:5555"
        - name: "GM_CONTROL_API_KEY"
          value: "xxx"
        - name: "GM_CONTROL_API_SSL"
          value: "false"
        - name: "GM_CONTROL_API_ZONE_NAME"
          value: "default-zone"
        - name: "GM_CONTROL_CMD"
          value: "ecs"
        - name: "GM_CONTROL_CONSOLE_LEVEL"
          value: "debug"
        - name: "GM_CONTROL_XDS_ADS_ENABLED"
          value: "true"
        - name: "GM_CONTROL_ECS_AWS_REGION"
          value: "us-east-2"
        - name: "GM_CONTROL_ECS_CLUSTERS"
          value: ""
        - name: "GM_CONTROL_ECS_CLUSTER_TAG"
          value: "gm-cluster"
        portMappings:
        - containerPort: 50000
          hostPort: 50000
          protocol: tcp
        logConfiguration:
          logDriver: awslogs
          options:
            awslogs-group: openjobs
            awslogs-region: us-east-2
            awslogs-stream-prefix: web
    register: task_output

  - name: ECS service
    ecs_service:
      state: present
      name: control
      cluster: "greymatter-ecs-cluster"
      task_definition: "{{  task_output.taskdefinition[\"family\"]   }}:{{ task_output.taskdefinition[\"revision\"] }}"
      desired_count: 1
      load_balancers:
        - targetGroupArn: "arn:aws:elasticloadbalancing:us-east-2:151736245382:targetgroup/greymatter-ecs-alb-target-group2/6a3fddf3a004d6fe"
          containerName: "control"
          containerPort: "50000"
    register: "ecs_service"
