---

  - name: Create task definition edge
    ecs_taskdefinition:
      state: present
      family: "greymatter-edge"
      network_mode: "host"
      launch_type: "EC2"
      execution_role_arn: "arn:aws:iam::151736245382:role/ecsInstanceRole"
      task_role_arn: "arn:aws:iam::151736245382:role/ecsInstanceRole"
      volumes:
        - name: certs
          host:
            sourcePath: "/home/ec2-user/pki"
      containers:
        - name: edge
          cpu: 256
          essential: true
          image: "docker-greymatter.di2e.net/greymatter/gm-proxy:0.8.1"
          repositoryCredentials:
            credentialsParameter: "arn:aws:secretsmanager:us-east-2:151736245382:secret:ecs-greymatter/zGREYMATTER-ci-6WOFGP"
          memory: 400
          dockerLabels:
            gm-cluster: "edge"
          environment:
            - name: "ENVOY_ADMIN_LOG_PATH"
              value: "/dev/stdout"
            - name: "PROXY_DYNAMIC"
              value: "true"
            - name: "XDS_CLUSTER"
              value: "edge"
            - name: "XDS_HOST"
              value: "localhost"
            - name: "XDS_NODE_ID"
              value: "default"
            - name: "XDS_PORT"
              value: "50000"
          portMappings:
            - containerPort: 80
              hostPort: 80
              protocol: tcp
            - containerPort: 8081
              hostPort: 8081
              protocol: tcp
          mountPoints:
            - containerPath: "/etc/proxy/tls/sidecar"
              sourceVolume: "certs"
          logConfiguration:
            logDriver: awslogs
            options:
              awslogs-group: openjobs
              awslogs-region: us-east-2
              awslogs-stream-prefix: web
    register: task_output
  
  - name: ECS service
    ecs_service:
      state: present
      name: edge
      cluster: "greymatter-ecs-cluster"
        task_definition: "{{  task_output.taskdefinition[\"family\"]   }}:{{ task_output.taskdefinition[\"revision\"] }}"
      desired_count: 1
      load_balancers:
        - targetGroupArn: "arn:aws:elasticloadbalancing:us-east-2:151736245382:targetgroup/greymatter-ecs-alb-target-group2/6a3fddf3a004d6fe"
          containerName: "edge"
          containerPort: "80"
    register: "ecs_service"
  