---

  - name: Create task definition data
    ecs_taskdefinition:
      state: present
      family: "greymatter-data"
      network_mode: awsvpc
      launch_type: FARGATE
      cpu: 512
      memory: 1024
      region: "{{ aws_region }}"
      execution_role_arn: "{{ ecs_instance_role }}"
      task_role_arn: "{{ ecs_instance_role }}"
      volumes:
      - name: certs
      - name: "mongo-data"
      containers:
      - name: "proxy-data"
        essential: true
        image: "{{ greymatter_proxy_image }}"
        repositoryCredentials:
          credentialsParameter: "{{ credentials_parameter }}"
        dockerLabels:
          gm-cluster: "sidecar-data"
        environment:
        - name: "ENVOY_ADMIN_LOG_PATH"
          value: "/dev/stdout"
        - name: "PROXY_DYNAMIC"
          value: true
        - name: "XDS_CLUSTER"
          value: data
        - name: "XDS_HOST"
          value: localhost
        - name: "XDS_PORT"
          value: 50000
        - name: "XDS_NODE_ID"
          value: "default-node"
        portMappings:
        - containerPort: 9080
          hostPort: 9080
          protocol: tcp
        - containerPort: 8081
          hostPort: 8081
          protocol: tcp
        mountPoints:
        - containerPath: "/etc/proxy/tls/sidecar"
          sourceVolume: certs
        logConfiguration:
          logDriver: awslogs
          options:
            awslogs-group: openjobs
            awslogs-region: "{{ aws_region }}"
            awslogs-stream-prefix: web
      - name: data
        essential: true
        image: "docker.production.deciphernow.com/deciphernow/gm-data:latest"
        repositoryCredentials:
          credentialsParameter: "{{ credentials_parameter }}"
        dockerLabels:
          gm-cluster: "service-data"
        environment:
        - name: "GMDATA_NAMESPACE"
          value: world
        - name: "GMDATA_NAMESPACE_USERFIELD"
          value: email
        - name: "USES3"
          value: "true" # gm-data doesn't parse "True" or "False"
        - name: "AWS_S3_BUCKET" # todo: use separate bucket for ECS-specific data
          value: "decipher-development-data"
        - name: "AWS_S3_PARTITION"
          value: gmdatax
        - name: "AWS_REGION"
          value: "{{ aws_region }}"
        - name: "GMDATAX_CATCH_PANIC"
          value: "true" # gm-data doesn't parse "True" or "False"
        - name: "GMDATAX_SESSION_MAX"
          value: 10000
        - name: "HTTP_CACHE_SECONDS"
          value: 10
        - name: "OBS_TOPIC_ERROR"
          value: "gmdatax-error"
        - name: "OBS_TOPIC_READ"
          value: "gmdatax-read"
        - name: "OBS_TOPIC_UPDATE"
          value: "gmdatax-update"
        - name: "LESS_CHATTY_INFO"
          value: "false" # gm-data doesn't parse "True" or "False"
        - name: "MASTERKEY"
          value: foo
        - name: "MONGOHOST"
          value: "localhost:27017"
        - name: "MONGODB"
          value: data
        - name: "S3_TASKS"
          value: 4096
        - name: "CLIENT_PREFIX"
          value: "/services/data/latest"
        - name: "CLIENT_JWT_PREFIX"
          value: "/jwt"
        - name: "CLIENT_JWT_ENDPOINT_ADDRESS"
          value: localhost
        - name: "CLIENT_JWT_ENDPOINT_PORT"
          value: 9080
        - name: "CLIENT_JWT_ENDPOINT_PREFIX"
          value: "/jwt"
        - name: "MONGO_INITDB_ROOT_USERNAME"
          value: "data-user"
        - name: "MONGO_INITDB_ROOT_PASSWORD"
          value: "{{ lookup('aws_secret', 'data-secret') | from_json | json_query('mongo_pass') }}"
        - name: "JWT_API_KEY"
          value: "{{ lookup('aws_secret', 'jwt-secret') | from_json | json_query('api_key') }}"
        - name: "JWT_PUB"
          value: "{{ lookup('aws_secret', 'data-secret') | from_json | json_query('jwt_pub') }}"
        # - name: "AWS_ACCESS_KEY_ID" # todo: figure out how to lookup
          # value: "{{ lookup('aws_secret', 'aws-access-key-id') }}"
        # - name: "AWS_SECRET_ACCESS_KEY" # todo: figure out how to lookup
          # value: "{{ lookup('aws_secret', 'aws-secret-access-key') }}"
        portMappings:
        - containerPort: 8181
          hostPort: 8181
          protocol: tcp
        logConfiguration:
          logDriver: awslogs
          options:
            awslogs-group: openjobs
            awslogs-region: "{{ aws_region }}"
            awslogs-stream-prefix: web
      - name: mongo
        essential: true
        image: "docker.io/centos/mongodb-32-centos7"
        environment:
        - name: "MONGODB_DATABASE"
          value: "data"
        - name: "MONGODB_USER"
          value: "data-user"
        - name: "MONGODB_PASSWORD"
          value: "{{ lookup('aws_secret', 'data-secret') | from_json | json_query('mongo_pass') }}"
        - name: "MONGODB_ADMIN_PASSWORD"
          value: "{{ lookup('aws_secret', 'data-secret') | from_json | json_query('mongo_admin_pass') }}"
        portMappings:
        - containerPort: 27017
          hostPort: 27017
        mountPoints:
        - containerPath: "/var/lib/mongodb/data"
          sourceVolume: "mongo-data"
        logConfiguration:
          logDriver: awslogs
          options:
            awslogs-group: openjobs
            awslogs-region: "{{ aws_region }}"
            awslogs-stream-prefix: web
    register: task_output

  - name: ECS service
    ecs_service:
      state: present
      name: data
      cluster: "{{ cluster_name }}"
      region: "{{ aws_region }}"
      launch_type: FARGATE
      task_definition: "{{  task_output.taskdefinition[\"family\"]   }}:{{ task_output.taskdefinition[\"revision\"] }}"
      desired_count: 1
      network_configuration:
        assign_public_ip: true
        security_groups: "{{ security_group }}"
        subnets: "{{ subnet_list }}"
      load_balancers:
        - targetGroupArn: "{{ task_target_group }}"
          containerName: "proxy-data"
          containerPort: 9080
    register: "ecs_service"
