---

  - name: Create task definition control-api
    ecs_taskdefinition:
      state: present
      family: "greymatter-control-api"
      network_mode: "host"
      launch_type: "EC2"
      execution_role_arn: "arn:aws:iam::151736245382:role/ecsInstanceRole"
      task_role_arn: "arn:aws:iam::151736245382:role/ecsInstanceRole"
      volumes:
      - name: certs
        host:
          sourcePath: "/home/ec2-user/pki"
      containers:
      - name: proxy-control-api
        cpu: 256
        essential: true
        image: "docker-greymatter.di2e.net/greymatter/gm-proxy:0.8.1"
        repositoryCredentials:
          credentialsParameter: "arn:aws:secretsmanager:us-east-2:151736245382:secret:ecs-greymatter/zGREYMATTER-ci-6WOFGP"
        memory: 400
        dockerLabels:
          gm-cluster: "sidecar-control-api"
        environment:
          - name: "ENVOY_ADMIN_LOG_PATH"
            value: "/dev/stdout"
          - name: "PROXY_DYNAMIC"
            value: "true"
          - name: "XDS_CLUSTER"
            value: "control-api"
          - name: "XDS_HOST"
            value: "localhost"
          - name: "XDS_PORT"
            value: "50000"
          - name: "XDS_NODE_ID"
            value: "default-node"
        portMappings:
          - containerPort: 9080
            hostPort: 9080
            protocol: tcp
          - containerPort: 8081
            hostPort: 8081
            protocol: tcp
        mountPoints:
          - containerPath: "/etc/proxy/tls/sidecar"
            sourceVolume: "certs"
        logConfiguration:
          logDriver: awslogs
          options:
            awslogs-group: openjobs
            awslogs-region: us-east-2
            awslogs-stream-prefix: web
      - name: control-api
        cpu: 256
        essential: true
        image: "docker-greymatter.di2e.net/greymatter/gm-control-api:0.8.1"
        repositoryCredentials:
          credentialsParameter: "arn:aws:secretsmanager:us-east-2:151736245382:secret:ecs-greymatter/zGREYMATTER-ci-6WOFGP"
        memory: 400
        dockerLabels:
          gm-cluster: "service-control-api"
        environment:
        - name: "GM_CONTROL_API_ADDRESS"
          value: "0.0.0.0:5555"
        - name: "GM_CONTROL_API_LOG_LEVEL"
          value: "debug"
        - name: "GM_CONTROL_API_ORG_KEY"
          value: "deciphernow"
        - name: "GM_CONTROL_API_PERSISTER_PATH"
          value: "app/control-api/data/backend.json"
        - name: "GM_CONTROL_CMD"
          value: "ecs"
        - name: "GM_CONTROL_API_PERSISTER_TYPE"
          value: "file"
        - name: "GM_CONTROL_API_ZONE_KEY"
          value: "default-zone"
        portMappings:
        - containerPort: 5555
          hostPort: 5555
          protocol: tcp
        logConfiguration:
          logDriver: awslogs
          options:
            awslogs-group: openjobs
            awslogs-region: us-east-2
            awslogs-stream-prefix: web
    register: task_output

  - name: ECS service
    ecs_service:
      state: present
      name: control-api
      cluster: "greymatter-ecs-cluster"
      task_definition: "{{  task_output.taskdefinition[\"family\"]   }}:{{ task_output.taskdefinition[\"revision\"] }}"
      desired_count: 1
      # todo: load balance service/sidecar pairs -- each instance is a sidecar->service
      load_balancers:
        - targetGroupArn: "arn:aws:elasticloadbalancing:us-east-2:151736245382:targetgroup/greymatter-ecs-alb-target-group2/6a3fddf3a004d6fe"
          containerName: "control-api"
          containerPort: "5555"
    register: "ecs_service"
